ArgoCD Repo Server stops pulling git repositories due to Azure Devops Repos current sunset SSH-RSA strategy

Hi all,
Microsoft published a blogpost Feb 15th 2024 to sunset the ssh-rsa support and wants to migrate to rsa-sha2-256/512.
Blog Post: https://devblogs.microsoft.com/devops/ssh-rsa-deprecation/

Based on their schedule everyone that still uses their service should be in Phase 2 where an throttling/delay is in place and an error is shown with following message.

“ssh-rsa is about to be deprecated and your request has been throttled. Please use rsa-sha2-256 or rsa-sha2-512 instead. Your session will continue automatically. For more details see https://devblogs.microsoft.com/devops/ssh-rsa-deprecation.”

This error is also shown within argo.
![grafik](https://github.com/argoproj/argo-cd/assets/5542725/f917feb1-e5df-41b9-8c5c-b9de3b79f164)

After searching a bit - it seems like that golang/crypto already support rsa-sha2-256/512 but sadly starting from v0.21.0.
(https://github.com/golang/crypto/commit/6fad3dfc)

Argo seems to use v0.19.0 
https://github.com/argoproj/argo-cd/blob/1bddee2e5dfff35613847eef9a2c0e6818976dc3/go.mod#L85

Also found a relevant issue in this regard: https://github.com/argoproj/argo-cd/issues/7600


Checklist:

* [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
* [x] I've included steps to reproduce the bug.
* [x] I've pasted the output of `argocd version`.

**Describe the bug**
Argo is currently unable to pull git repositories provided by azure devops repos and stops after receives the delay error.

**To Reproduce**
Pull a repository from their service with a ssh key.

**Expected behavior**
Argo pulls changes or state from git repository.


**Version**

```shell
argocd@argocd-core-server-588df95858-5jcc7:~$ argocd version
argocd: v2.9.3+6eba5be
  BuildDate: 2023-12-01T23:05:50Z
  GitCommit: 6eba5be864b7e031871ed7698f5233336dfe75c7
  GitTreeState: clean
  GoVersion: go1.21.3
  Compiler: gc
  Platform: linux/amd64

```

**Logs**

Logs from repo-server:
```
Stream closed EOF for argocd/argocd-core-repo-server-6b48b5bc4b-t5xfj (copyutil)
repo-server time="2024-03-27T06:40:28Z" level=info msg="finished unary call with code OK" grpc.code=OK grpc.method=Check grpc.service=grpc.health.v1.Health grpc.start_time="2024-03-27T06:40:28Z" grpc.time_ms=0.019 span.kind=server system=grpc
repo-server time="2024-03-27T06:40:34Z" level=error msg="finished unary call with code Unknown" error="unknown error: remote: Command git-upload-pack: ssh-rsa is about to be deprecated and your request has been throttled. Please use rsa-sha2-256 or rsa-sha2-512 instead. Your session will continue automatically. For more details see https://aka.ms/ado-ssh-rsa-deprecation." grpc.code=Unknown grpc.method=GenerateManifest grpc.service=repository.RepoServerService grpc.start_time="2024-03-27T06:40:29Z" grpc.time_ms=5616.032 span.kind=server system=grpc
```


We are having the same issue and currently can't sync our applications anymore.

Any progress on this?

> We are having the same issue and currently can't sync our applications anymore.
> 
> Any progress on this?

+1

any fix for this?

My understanding is that this isn't an issue with golang's crypto library. Rather it has to do with the hash algorithms ssh accepts in Ubuntu 22.04 (the version Argo CD images are built on).

It looks like Ubuntu 22.04 does _support_ the listed algorithms (based on [this guide](https://superuser.com/a/1734092)), but maybe neither algorithm is enabled by default in the handshake. You might have to explicitly enable that host key algorithm.

```
$ ssh -Q sig 
ssh-ed25519
sk-ssh-ed25519@openssh.com
ssh-rsa
rsa-sha2-256
rsa-sha2-512
ssh-dss
ecdsa-sha2-nistp256
ecdsa-sha2-nistp384
ecdsa-sha2-nistp521
sk-ecdsa-sha2-nistp256@openssh.com
webauthn-sk-ecdsa-sha2-nistp256@openssh.com
```

I'm not too familiar with all the internal workings of SSH, but would it be a solution to change the known_hosts entry for azure devops to: `ssh.dev.azure.com rsa-sha2-512` instead of `ssh.dev.azure.com ssh-rsa`?

I've changed this to my setup using `configs.ssh.knownHosts`. I'm not sure if this helps during the brownout, but it seems to be working at the moment.

I'm now testing with an explicit deny for ssh-rsa in the ssh config of the repo server, the opposite of what is described here; https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/2.1-2.2/#workaround

```
Host *
    HostkeyAlgorithms -ssh-rsa
    PubkeyAcceptedAlgorithms -ssh-rsa
```

I suspect that the ssh will work without any config changes once Microsoft is done with the brownout period. It probably currently fails because they still expose the ssh-rsa signature key as 'valid' from their side during brownouts. 

`argocd repo add` with `--insecure-skip-server-verification` flag will bypass the verification which causes the issue.

My previous 'workaround' doesn't work, sadly. Is `/home/argocd/.ssh/config` not the right place to put the ssh config? 

Disabling the server verification doesn't sit well with me either, so I hope there is some other solution.

> My previous 'workaround' doesn't work, sadly. Is `/home/argocd/.ssh/config` not the right place to put the ssh config?
> 
> Disabling the server verification doesn't sit well with me either, so I hope there is some other solution.

Do you encounter issue pulling git repositories directly on the host machine?

> Do you encounter issue pulling git repositories directly on the host machine?

I haven't tested this, but I can at least say that the config is used with a regular `ssh ssh.dev.azure.com` call; if I input invalid config (e.g. `foobar` as HostkeyAlgorithms) then the ssh command fails.

For my case, `git pull` works with `ssh ssh.dev.azure.com` but didn't work for argocd.
I had to

1.  Generate new public private key `ssh-keygen -t rsa-sha2-512`
2.  Override existing repositories with `argocd repo add git@ssh.dev.azure.com:v3/<repo> --ssh-private-key-path ~/.ssh/id_rsa --upsert --insecure-skip-server-verification`

Hope it helps.

We just got into this issue right now.
We did the following steps to stop having the "You’re using ssh-rsa that is about to be deprecated and your request has been blocked intentionally." error:

- Created a new pair of SSH keys with SHA2 512 with:

> ssh-keygen -f key_file_name -t rsa-sha2-512

- Replaced the keys in ArgoCD and Azure DevOps.

- Changed known hosts values in ArgoCD chart values. The value is _configs.ssh.knownHosts_. We replaced the default Azure DevOps known hosts with the following ones:

```
ssh.dev.azure.com rsa-sha2-512 AAAAB3NzaC1yc2EAAAADAQABAAABAQC7Hr1oTWqNqOlzGJOfGJ4NakVyIzf1rXYd4d7wo6jBlkLvCA4odBlL0mDUyZ0/QUfTTqeu+tm22gOsv+VrVTMk6vwRU75gY/y9ut5Mb3bR5BV58dKXyq9A9UeB5Cakehn5Zgm6x1mKoVyf+FFn26iYqXJRgzIZZcZ5V6hrE0Qg39kZm4az48o0AUbf6Sp4SLdvnuMa2sVNwHBboS7EJkm57XQPVU3/QpyNLHbWDdzwtrlS+ez30S3AdYhLKEOxAG8weOnyrtLJAUen9mTkol8oII1edf7mWWbWVf0nBmly21+nZcmCTISQBtdcyPaEno7fFQMDD26/s0lfKob4Kw8H
vs-ssh.visualstudio.com rsa-sha2-512 AAAAB3NzaC1yc2EAAAADAQABAAABAQC7Hr1oTWqNqOlzGJOfGJ4NakVyIzf1rXYd4d7wo6jBlkLvCA4odBlL0mDUyZ0/QUfTTqeu+tm22gOsv+VrVTMk6vwRU75gY/y9ut5Mb3bR5BV58dKXyq9A9UeB5Cakehn5Zgm6x1mKoVyf+FFn26iYqXJRgzIZZcZ5V6hrE0Qg39kZm4az48o0AUbf6Sp4SLdvnuMa2sVNwHBboS7EJkm57XQPVU3/QpyNLHbWDdzwtrlS+ez30S3AdYhLKEOxAG8weOnyrtLJAUen9mTkol8oII1edf7mWWbWVf0nBmly21+nZcmCTISQBtdcyPaEno7fFQMDD26/s0lfKob4Kw8H

```
Hope this helps as a temporal workaround.

> I'm now testing with an explicit deny for ssh-rsa in the ssh config of the repo server, the opposite of what is described here; https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/2.1-2.2/#workaround
> 
> ```
> Host *
>     HostkeyAlgorithms -ssh-rsa
>     PubkeyAcceptedAlgorithms -ssh-rsa
> ```
> 
> I suspect that the ssh will work without any config changes once Microsoft is done with the brownout period. It probably currently fails because they still expose the ssh-rsa signature key as 'valid' from their side during brownouts.

This seems to work for us.

Change the SSH key to sha2_512.

Kustomize Patch for the Repo Server:
```yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-repo-server
spec:
  template:
    spec:
      containers:
        - name: argocd-repo-server
          volumeMounts:
            - mountPath: /home/argocd/.ssh
              name: argo-server-ssh-config
      volumes:
          - name: argo-server-ssh-config
            configMap:
              name: argo-server-ssh-config
```

ConfigMap for the ssh-config:
```yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: argo-server-ssh-config
data:
  config: |
    Host *
        HostkeyAlgorithms -ssh-rsa
        PubkeyAcceptedAlgorithms -ssh-rsa
```

@maxkaemmerer @AleksuKey How long ago did you test this? Note that the brownout has ended so it is possible that this is the reason it now works, instead of the fixes actually working. Neither of these two fixes worked for us.

> @maxkaemmerer @AleksuKey How long ago did you test this? Note that the brownout has ended so it is possible that this is the reason it now works, instead of the fixes actually working. Neither of these two fixes worked for us.
> 
> @siawkz
> 
> > For my case, `git pull` works with `ssh ssh.dev.azure.com` but didn't work for argocd. I had to
> > 
> > 1. Generate new public private key `ssh-keygen -t rsa-sha2-512`
> > 2. Override existing repositories with `argocd repo add git@ssh.dev.azure.com:v3/<repo> --ssh-private-key-path ~/.ssh/id_rsa --upsert --insecure-skip-server-verification`
> > 
> > Hope it helps.
> 
> This works because you are no longer verifying SSL, so ArgoCD is ignoring SSL errors. This is not an appropriate fix, and I would not even suggest it as a workaround for production systems.

About five minutes before I wrote the comment. During the last brownout we tested it with a sha2-512 key and had other errors which do not appear with the approach I commented above. (I do not remember the exact wording on those other errors)

We are also very hesitant to add the --insecure flag.

On the ArgoCD 2.8.4 version rsa-sha2-256 is working, but the important thing to check - is in the k8s secret with sshPrivateKey for Azure DevOps if appropriately put the new lines, because when we put this private key in the Azure Key Vault as a secret then "-----END OPENSSH PRIVATE KEY-----" part was not in the new line but it was as a part of the key. After fixing this, ArgoCD can sync properly with Azure DevOps repos.

> > I'm now testing with an explicit deny for ssh-rsa in the ssh config of the repo server, the opposite of what is described here; https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/2.1-2.2/#workaround
> > ```
> > Host *
> >     HostkeyAlgorithms -ssh-rsa
> >     PubkeyAcceptedAlgorithms -ssh-rsa
> > ```
> > 
> > 
> >     
> >       
> >     
> > 
> >       
> >     
> > 
> >     
> >   
> > I suspect that the ssh will work without any config changes once Microsoft is done with the brownout period. It probably currently fails because they still expose the ssh-rsa signature key as 'valid' from their side during brownouts.
> 
> This seems to work for us.
> 
> Change the SSH key to sha2_512.
> 
> Kustomize Patch for the Repo Server:
> 
> ```yaml
> apiVersion: apps/v1
> kind: Deployment
> metadata:
>   name: argocd-repo-server
> spec:
>   template:
>     spec:
>       containers:
>         - name: argocd-repo-server
>           volumeMounts:
>             - mountPath: /home/argocd/.ssh
>               name: argo-server-ssh-config
>       volumes:
>           - name: argo-server-ssh-config
>             configMap:
>               name: argo-server-ssh-config
> ```
> 
> ConfigMap for the ssh-config:
> 
> ```yaml
> apiVersion: v1
> kind: ConfigMap
> metadata:
>   name: argo-server-ssh-config
> data:
>   config: |
>     Host *
>         HostkeyAlgorithms -ssh-rsa
>         PubkeyAcceptedAlgorithms -ssh-rsa
> ```
> 
> **Note: It is possible that this just worked because the brownout ended.**

We have this config since a few weeks ago. 
Nevertheless,  we observed the clone errors today.

I would expect you will see the errors appearing again during the next brownout period. :-/

9

> > @maxkaemmerer @AleksuKey How long ago did you test this? Note that the brownout has ended so it is possible that this is the reason it now works, instead of the fixes actually working. Neither of these two fixes worked for us.
> > @siawkz
> > > For my case, `git pull` works with `ssh ssh.dev.azure.com` but didn't work for argocd. I had to
> > > 
> > > 1. Generate new public private key `ssh-keygen -t rsa-sha2-512`
> > > 2. Override existing repositories with `argocd repo add git@ssh.dev.azure.com:v3/<repo> --ssh-private-key-path ~/.ssh/id_rsa --upsert --insecure-skip-server-verification`
> > > 
> > > Hope it helps.
> > 
> > 
> > This works because you are no longer verifying SSL, so ArgoCD is ignoring SSL errors. This is not an appropriate fix, and I would not even suggest it as a workaround for production systems.
> 
> @rouke-broersma
> 
> About five minutes before I wrote the comment. During the last brownout we tested it with a sha2-512 key and had other errors which do not appear with the approach I commented above. (I do not remember the exact wording on those other errors)
> 
> We are also very hesitant to add the --insecure flag.
> 
> This is not my area expertise. We just tried the approach with the ssh-config and that seems to have worked, hoping it works for others as well until a proper fix is found.
> 
> We are on ArgoCD version v2.10.6 btw.

For our environments the brownout seems to have ended at about 10AM CEST (2 hours ago) so it could very well be that you unfortunately were testing after the brownout.

> > @rouke-broersma
> > About five minutes before I wrote the comment. During the last brownout we tested it with a sha2-512 key and had other errors which do not appear with the approach I commented above. (I do not remember the exact wording on those other errors)
> > We are also very hesitant to add the --insecure flag.
> > This is not my area expertise. We just tried the approach with the ssh-config and that seems to have worked, hoping it works for others as well until a proper fix is found.
> > We are on ArgoCD version v2.10.6 btw.
> 
> For our environments the brownout seems to have ended at about 10AM CEST (2 hours ago) so it could very well be that you unfortunately were testing after the brownout.

Probably the same happened to us and that's why we saw it solved...

> > @rouke-broersma
> > About five minutes before I wrote the comment. During the last brownout we tested it with a sha2-512 key and had other errors which do not appear with the approach I commented above. (I do not remember the exact wording on those other errors)
> > We are also very hesitant to add the --insecure flag.
> > This is not my area expertise. We just tried the approach with the ssh-config and that seems to have worked, hoping it works for others as well until a proper fix is found.
> > We are on ArgoCD version v2.10.6 btw.
> 
> For our environments the brownout seems to have ended at about 10AM CEST (2 hours ago) so it could very well be that you unfortunately were testing after the brownout.
> 
> I've been looking through the code, it looks to me like the `/home/argocd/.ssh/config` is not being used, because a different SSH config dir is being set:
> 
> https://github.com/argoproj/argo-cd/blob/4d527f87056275053ca584d6ef2732ad57e5fa08/common/common.go#L75
> 
> This makes sense, because this path is also where the argocd-ssh-known-hosts-cm is mounted by the argocd helm chart:
> 
> ```yaml
> - mountPath: /app/config/ssh
>      name: ssh-known-hosts
> ```
> 
> So it seems to me like we should extend the `argocd-ssh-known-hosts-cm` with the config file, instead of mounting a new configmap, so the config file is placed in the actual used ssh config folder.

We had a syntax error in the ssh-config mounted at /home/argocd/.ssh/config and that error showed up in the Argo UI, so I'd assume it is being used.

I did some testing yesterday and believe the issue might be in Argo.

It seems like the git implementation used in argo does some parts with the Go user agent and some with the OpenSSH user agent.
Both processes probably need to use the rsa-sha2-256/512 signature to be compliant with Azure DevOps. It might also explain why changing git config does not solve the issue, maybe not both processes use the same git config location. (maybe if both /home/argocd/.ssh/config and /app/config/ssh are updated it might work?)

To check which of the 2 processes is using the wrong signature I used the reposerver container to manually do a git fetch (uses OpenSSH user agent) with extra verbosity. (`GIT_SSH_COMMAND="ssh -vvv -i ./../key -o UserKnownHostsFile=/app/config/ssh/ssh_known_hosts" git fetch`).

This results in the following (removed a lot of content that is not ):
```
...
OpenSSH_8.9p1 Ubuntu-3ubuntu0.6, OpenSSL 3.0.2 15 Mar 2022
debug3: order_hostkeyalgs: prefer hostkeyalgs: rsa-sha2-512-cert-v01@openssh.com,rsa-sha2-256-cert-v01@openssh.com,rsa-sha2-512,rsa-sha2-256
...
debug2: KEX algorithms: curve25519-sha256,curve25519-sha256@libssh.org,ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,sntrup761x25519-sha512@openssh.com,diffie-hellman-group-exchange-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256,ext-info-c,kex-strict-c-v00@openssh.com
debug2: host key algorithms: rsa-sha2-512-cert-v01@openssh.com,rsa-sha2-256-cert-v01@openssh.com,rsa-sha2-512,rsa-sha2-256,ssh-ed25519-cert-v01@openssh.com,ecdsa-sha2-nistp256-cert-v01@openssh.com,ecdsa-sha2-nistp384-cert-v01@openssh.com,ecdsa-sha2-nistp521-cert-v01@openssh.com,sk-ssh-ed25519-cert-v01@openssh.com,sk-ecdsa-sha2-nistp256-cert-v01@openssh.com,ssh-ed25519,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521,sk-ssh-ed25519@openssh.com,sk-ecdsa-sha2-nistp256@openssh.com
debug2: ciphers ctos: chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com
debug2: ciphers stoc: chacha20-poly1305@openssh.com,aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm@openssh.com,aes256-gcm@openssh.com
debug2: MACs ctos: umac-64-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha1-etm@openssh.com,umac-64@openssh.com,umac-128@openssh.com,hmac-sha2-256,hmac-sha2-512,hmac-sha1
debug2: MACs stoc: umac-64-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha1-etm@openssh.com,umac-64@openssh.com,umac-128@openssh.com,hmac-sha2-256,hmac-sha2-512,hmac-sha1
debug2: KEX algorithms: diffie-hellman-group1-sha1,diffie-hellman-group14-sha1,diffie-hellman-group-exchange-sha256
debug2: host key algorithms: ssh-rsa,rsa-sha2-256,rsa-sha2-512
debug2: ciphers ctos: aes256-cbc,aes192-cbc,aes128-cbc,aes128-ctr,aes256-ctr
debug2: ciphers stoc: aes256-cbc,aes192-cbc,aes128-cbc,aes128-ctr,aes256-ctr
debug2: MACs ctos: hmac-sha2-256,hmac-sha2-512
debug2: MACs stoc: hmac-sha2-256,hmac-sha2-512
debug1: kex: algorithm: diffie-hellman-group-exchange-sha256
debug1: kex: host key algorithm: rsa-sha2-512
debug1: kex: server->client cipher: aes128-ctr MAC: hmac-sha2-256 compression: none
debug1: kex: client->server cipher: aes128-ctr MAC: hmac-sha2-256 compression: none
debug1: Server host key: ssh-rsa SHA256:ohD8VZEXGWo6Ez8GSEJQ9WpafgLFsOfLOtGGQCQo6Og
debug3: record_hostkey: found key type RSA in file /app/config/ssh/ssh_known_hosts:13
debug3: load_hostkeys_file: loaded 1 keys from ssh.dev.azure.com
debug3: record_hostkey: found key type RSA in file /etc/ssh/ssh_known_hosts:13
debug3: load_hostkeys_file: loaded 1 keys from ssh.dev.azure.com
debug1: load_hostkeys: fopen /etc/ssh/ssh_known_hosts2: No such file or directory
debug1: Host 'ssh.dev.azure.com' is known and matches the RSA host key.
debug1: Found key in /app/config/ssh/ssh_known_hosts:13
debug1: Will attempt key: ./../key RSA SHA256:EdOva7WBW6rsAMd5e8pGXNi5X+bqqXBrhAaNupIpkWo explicit
debug1: kex_input_ext_info: server-sig-algs=<ssh-rsa,rsa-sha2-256,rsa-sha2-512>
debug1: Next authentication method: publickey
debug1: Offering public key: ./../key RSA SHA256:EdOva7WBW6rsAMd5e8pGXNi5X+bqqXBrhAaNupIpkWo explicit
debug2: we sent a publickey packet, wait for reply
debug1: Server accepts key: ./../key RSA SHA256:EdOva7WBW6rsAMd5e8pGXNi5X+bqqXBrhAaNupIpkWo explicit
debug3: sign_and_send_pubkey: using publickey with RSA SHA256:EdOva7WBW6rsAMd5e8pGXNi5X+bqqXBrhAaNupIpkWo
debug3: sign_and_send_pubkey: signing using rsa-sha2-512 SHA256:EdOva7WBW6rsAMd5e8pGXNi5X+bqqXBrhAaNupIpkWo
Authenticated to ssh.dev.azure.com ([40.74.28.31]:22) using "publickey".
...
```

It shows that it uses rsa-sha2-512, and thus should work with Azure DevOps during the brownouts and after the removal of ssh-rsa, but since we have not seen any other brownouts I could not run this during brownout.
Since openSSH uses the correct signature, it probably is the go-git client that does not use the correct signature thus breaking ArgoCD with Azure DevOps. 

While for Github the issue was to use an elliptic key, this should be fixed in argo or the go-git client.

> > @maxkaemmerer @AleksuKey How long ago did you test this? Note that the brownout has ended so it is possible that this is the reason it now works, instead of the fixes actually working. Neither of these two fixes worked for us.
> > @siawkz
> > > For my case, `git pull` works with `ssh ssh.dev.azure.com` but didn't work for argocd. I had to
> > > 
> > > 1. Generate new public private key `ssh-keygen -t rsa-sha2-512`
> > > 2. Override existing repositories with `argocd repo add git@ssh.dev.azure.com:v3/<repo> --ssh-private-key-path ~/.ssh/id_rsa --upsert --insecure-skip-server-verification`
> > > 
> > > Hope it helps.
> > 
> > 
> > This works because you are no longer verifying SSL, so ArgoCD is ignoring SSL errors. This is not an appropriate fix, and I would not even suggest it as a workaround for production systems.
> 
> @rouke-broersma
> 
> About five minutes before I wrote the comment. During the last brownout we tested it with a sha2-512 key and had other errors which do not appear with the approach I commented above. (I do not remember the exact wording on those other errors)
> 
> We are also very hesitant to add the --insecure flag.
> 
> This is not my area expertise. We just tried the approach with the ssh-config and that seems to have worked, hoping it works for others as well until a proper fix is found.
> 
> We are on ArgoCD version v2.10.6 btw.

We are having issues again today, so it seems like this did not infact resolve 

> > I'm now testing with an explicit deny for ssh-rsa in the ssh config of the repo server, the opposite of what is described here; https://argo-cd.readthedocs.io/en/stable/operator-manual/upgrading/2.1-2.2/#workaround
> > ```
> > Host *
> >     HostkeyAlgorithms -ssh-rsa
> >     PubkeyAcceptedAlgorithms -ssh-rsa
> > ```
> > 
> > 
> >     
> >       
> >     
> > 
> >       
> >     
> > 
> >     
> >   
> > I suspect that the ssh will work without any config changes once Microsoft is done with the brownout period. It probably currently fails because they still expose the ssh-rsa signature key as 'valid' from their side during brownouts.
> 
> This seems to work for us.
> 
> Change the SSH key to sha2_512.
> 
> Kustomize Patch for the Repo Server:
> 
> ```yaml
> apiVersion: apps/v1
> kind: Deployment
> metadata:
>   name: argocd-repo-server
> spec:
>   template:
>     spec:
>       containers:
>         - name: argocd-repo-server
>           volumeMounts:
>             - mountPath: /home/argocd/.ssh
>               name: argo-server-ssh-config
>       volumes:
>           - name: argo-server-ssh-config
>             configMap:
>               name: argo-server-ssh-config
> ```
> 
> ConfigMap for the ssh-config:
> 
> ```yaml
> apiVersion: v1
> kind: ConfigMap
> metadata:
>   name: argo-server-ssh-config
> data:
>   config: |
>     Host *
>         HostkeyAlgorithms -ssh-rsa
>         PubkeyAcceptedAlgorithms -ssh-rsa
> ```
> 
> **Note: It is possible that this just worked because the brownout ended.**

We are having issues again today so it seems like it just worked for us because the brownout had ended

There is a brownout again, I am testing again to see what is wrong



Looks like the brownout is over again...

Joining thread this as we also just recently regenerated our SSH key as Microsoft advised but then during the next brownout observed the issue. Reading through this I'm not certain we've identified a solution or if we need one (aka once ADO kill ssh-rsa it just works)...

Anyone considered using HTTPS? Any pros or cons I should be aware of over SSH? I'm guess SSH security is considered better asymmetric crypto versus a PAT based http basic auth? Anything else?

https://devblogs.microsoft.com/devops/ssh-rsa-deprecation/

According to their schedule the brownout times and lengths will increase to 8 and 12 hours per day in the next week(s). That will be very annoying to sit out and hope it will take the correct algorightm afterwards

I just took a look at the code and have no idea how everything is wired together, but these parts look interesting:

https://github.com/argoproj/argo-cd/blob/master/util/git/client.go#L267-L279 where the git ssh client is constructed
+ 
https://github.com/argoproj/argo-cd/blob/master/common/common.go#L74-L77 where the default paths are defined

I took a look in our reposerver with `cat /app/config/ssh/ssh_known_hosts` and the result is:

`ssh.dev.azure.com rsa-sha2-512 ....`

which is what we defined as custom config.

Nevertheless, we are getting the errors. Maybe we need a way to configure custom algorithms here? https://github.com/argoproj/argo-cd/blob/master/util/git/client.go#L267


@patst we are coming to the same conclusions by digging through the code and we hope to test this to confirm and hopefully submit a patch.

> On the ArgoCD 2.8.4 version rsa-sha2-256 is working, but the important thing to check - is in the k8s secret with sshPrivateKey for Azure DevOps if appropriately put the new lines, because when we put this private key in the Azure Key Vault as a secret then "-----END OPENSSH PRIVATE KEY-----" part was not in the new line but it was as a part of the key. After fixing this, ArgoCD can sync properly with Azure DevOps repos.

Hi, I'm using ArgoCD **v2.7.11**

Thanks to @bartoszpyrek I managed to get this working by : 

* generating a new RSA key with rsa-sha2-512 algorithm :  `ssh-keygen -t rsa-sha2-512`
* adding generated public key to my Azure DevOps profile

Public key is of form : 

```
ssh-rsa AAAAB3NzaC1y..... user@host
``` 

* doing a simple test on ArgoCD Ui

![image](https://github.com/argoproj/argo-cd/assets/137395947/278eba40-4398-4f74-94d2-cc8c1f8bf9ed)

> Note the new line in yellow after `-----END OPENSSH PRIVATE KEY-----`

This worked fine 👌 
![image](https://github.com/argoproj/argo-cd/assets/137395947/a171b1c8-56d8-4810-8f70-19be01c80c07)

Also, it seems there's no need to update know-hosts configuration, nor skip server verification

---

Finally, I updated my secret which contains my SSH private key with the new one, also **with the newline** at the end

I manually deleted repositories which uses the old SSH key and let ArgoCD re-create them (ArgoCD manages itself its configuration, using App of App pattern)

Now everything is fine, let's see if this works during next days... 

Good luck 🤞 

@aurel4oxand let me guess you tested this somewhere in the last 40 minutes? The brownout is over :) 

> @aurel4oxand let me guess you tested this somewhere in the last 40 minutes? The brownout is over :)

Damned, you're right.. 😭 completely forgot about the brown out phase.. 

As far as we can tell (we are still trying to confirm but it is EOD) the issue is here:

https://github.com/argoproj/argo-cd/blob/master/util/git/ssh.go#L57C5-L57C16

The custom ssh client config overwrites the default ssh client that go-git normally uses:

https://github.com/go-git/go-git/blob/1ddd78a55f803c9ed0fac6a56d201271fef21eeb/plumbing/transport/client/client.go#L19

The default ssh client config reads the ssh config file and known hosts file from the current user (this would be ~/.ssh/config and ~/.ssh/known_hosts) to construct the client.

See:

https://github.com/go-git/go-git/blob/1ddd78a55f803c9ed0fac6a56d201271fef21eeb/plumbing/transport/ssh/common.go#L26

However it does not do this if the auth method contains a custom client config (as argocd creates). In that case it uses the host key algorithms as set in the client config, which in our case is nil because argocd does not set them in the client config.

In that case go ssh uses 'sane defaults', see:

https://pkg.go.dev/golang.org/x/crypto/ssh#ClientConfig

> Any string returned from a PublicKey.Type method may be used, or any of the **CertAlgo** and **KeyAlgo** constants.

Which are the following:

https://pkg.go.dev/golang.org/x/crypto/ssh#pkg-constants

```
const (
	CertAlgoRSAv01        = "ssh-rsa-cert-v01@openssh.com"
	CertAlgoDSAv01        = "ssh-dss-cert-v01@openssh.com"
	CertAlgoECDSA256v01   = "ecdsa-sha2-nistp256-cert-v01@openssh.com"
	CertAlgoECDSA384v01   = "ecdsa-sha2-nistp384-cert-v01@openssh.com"
	CertAlgoECDSA521v01   = "ecdsa-sha2-nistp521-cert-v01@openssh.com"
	CertAlgoSKECDSA256v01 = "sk-ecdsa-sha2-nistp256-cert-v01@openssh.com"
	CertAlgoED25519v01    = "ssh-ed25519-cert-v01@openssh.com"
	CertAlgoSKED25519v01  = "sk-ssh-ed25519-cert-v01@openssh.com"

	// CertAlgoRSASHA256v01 and CertAlgoRSASHA512v01 can't appear as a
	// Certificate.Type (or PublicKey.Type), but only in
	// ClientConfig.HostKeyAlgorithms.
	CertAlgoRSASHA256v01 = "rsa-sha2-256-cert-v01@openssh.com"
	CertAlgoRSASHA512v01 = "rsa-sha2-512-cert-v01@openssh.com"
)
```

Where ssh-rsa is listed first, and a likely deduction is that since it's listed first it might be tried first. Since azure devops does not deny ssh-rsa until after the handshake has already been performed (because they want to send back an error message, they first have to accept the connection, to then close it with an error) argocd/go-git/go-ssh decide to use ssh-rsa as the preferred host key algorithm.

Now from the go-ssh docs you might infer that you can set rsa-sha2 as the keytype to use in the known_hosts file, except:

> // KeyAlgoRSASHA256 and KeyAlgoRSASHA512 are only public key algorithms, not
	// public key formats, so they can't appear as a PublicKey.Type. The
	// corresponding PublicKey.Type is KeyAlgoRSA. See [RFC 8332, Section 2](https://rfc-editor.org/rfc/rfc8332.html#section-2).
	KeyAlgoRSASHA256 = "rsa-sha2-256"
	KeyAlgoRSASHA512 = "rsa-sha2-512"

So this is a no-go. So the only fix, I think, would be to modify https://github.com/argoproj/argo-cd/blob/0f11dfb5961361807962aafc68b11426b8a47490/util/git/ssh.go#L54 to either have a hardcoded list of supported algorithms or to read the supported algorithms from `~/.ssh/config`.

Right now it is giving me this error

I'm having the same issue today :/

We are experiencing this as well and obviously Microsoft Azure DevOps only supports rsa as outlined here: https://learn.microsoft.com/en-us/azure/devops/repos/git/use-ssh-keys-to-authenticate?view=azure-devops

We are very worried about this impending deadline of May 1st as we have 15 or so clusters pulling repos from Azure DevOps and obviously do not want to have downtime where services can't be updated.

Hopefully we can get a fix soon and have enough time to verify it!

I've yet to do further confirmation, but I do believe the underlying problem is related to an old work-around and Azure DevOps' failure to move beyond rsa to ecdsa or ed25519.

The work-around in question is at https://github.com/go-git/go-git/blob/1ddd78a55f803c9ed0fac6a56d201271fef21eeb/plumbing/transport/ssh/common.go#L140. It results in a host key algorithm of ssh-rsa regardless of the reasonable system defaults since the published host key is of type rsa and rsa-sha2-256 or rsa-sha2-512 are not considered public key formats. (BTW, hacking known hosts won't help as that field is ignored when parsing the file)

A few options:
1) Remove that work-around entirely;
2) Work around the work-around by changing an "ssh-rsa" entry to "rsa-sha2-512" or expanding it to ["rsa-sha2-512", "rsa-sha2-256", "ssh-rsa"]; or,
3) Extend PublicKeysWithOptions to implement git.AuthMethod and supply a client config that overrides the HostKeyAlgorithms.

> We just got into this issue right now. We did the following steps to stop having the "You’re using ssh-rsa that is about to be deprecated and your request has been blocked intentionally." error:
> 
>     * Created a new pair of SSH keys with SHA2 512 with:
> 
> 
> > ssh-keygen -f key_file_name -t rsa-sha2-512
> 
>     * Replaced the keys in ArgoCD and Azure DevOps.
> 
>     * Changed known hosts values in ArgoCD chart values. The value is _configs.ssh.knownHosts_. We replaced the default Azure DevOps known hosts with the following ones:
> 
> 
> ```
> ssh.dev.azure.com rsa-sha2-512 AAAAB3NzaC1yc2EAAAADAQABAAABAQC7Hr1oTWqNqOlzGJOfGJ4NakVyIzf1rXYd4d7wo6jBlkLvCA4odBlL0mDUyZ0/QUfTTqeu+tm22gOsv+VrVTMk6vwRU75gY/y9ut5Mb3bR5BV58dKXyq9A9UeB5Cakehn5Zgm6x1mKoVyf+FFn26iYqXJRgzIZZcZ5V6hrE0Qg39kZm4az48o0AUbf6Sp4SLdvnuMa2sVNwHBboS7EJkm57XQPVU3/QpyNLHbWDdzwtrlS+ez30S3AdYhLKEOxAG8weOnyrtLJAUen9mTkol8oII1edf7mWWbWVf0nBmly21+nZcmCTISQBtdcyPaEno7fFQMDD26/s0lfKob4Kw8H
> vs-ssh.visualstudio.com rsa-sha2-512 AAAAB3NzaC1yc2EAAAADAQABAAABAQC7Hr1oTWqNqOlzGJOfGJ4NakVyIzf1rXYd4d7wo6jBlkLvCA4odBlL0mDUyZ0/QUfTTqeu+tm22gOsv+VrVTMk6vwRU75gY/y9ut5Mb3bR5BV58dKXyq9A9UeB5Cakehn5Zgm6x1mKoVyf+FFn26iYqXJRgzIZZcZ5V6hrE0Qg39kZm4az48o0AUbf6Sp4SLdvnuMa2sVNwHBboS7EJkm57XQPVU3/QpyNLHbWDdzwtrlS+ez30S3AdYhLKEOxAG8weOnyrtLJAUen9mTkol8oII1edf7mWWbWVf0nBmly21+nZcmCTISQBtdcyPaEno7fFQMDD26/s0lfKob4Kw8H
> ```
> 
> Hope this helps as a temporal workaround.

i tried here and working! i'll to follow this in the week and next week.
Thanks for tip @AleksuKey 

> > We just got into this issue right now. We did the following steps to stop having the "You’re using ssh-rsa that is about to be deprecated and your request has been blocked intentionally." error:
> > ```
> > * Created a new pair of SSH keys with SHA2 512 with:
> > ```
> > 
> > 
> >     
> >       
> >     
> > 
> >       
> >     
> > 
> >     
> >   
> > > ssh-keygen -f key_file_name -t rsa-sha2-512
> > 
> > 
> > ```
> > * Replaced the keys in ArgoCD and Azure DevOps.
> > 
> > * Changed known hosts values in ArgoCD chart values. The value is _configs.ssh.knownHosts_. We replaced the default Azure DevOps known hosts with the following ones:
> > ```
> > 
> > 
> >     
> >       
> >     
> > 
> >       
> >     
> > 
> >     
> >   
> > ```
> > ssh.dev.azure.com rsa-sha2-512 AAAAB3NzaC1yc2EAAAADAQABAAABAQC7Hr1oTWqNqOlzGJOfGJ4NakVyIzf1rXYd4d7wo6jBlkLvCA4odBlL0mDUyZ0/QUfTTqeu+tm22gOsv+VrVTMk6vwRU75gY/y9ut5Mb3bR5BV58dKXyq9A9UeB5Cakehn5Zgm6x1mKoVyf+FFn26iYqXJRgzIZZcZ5V6hrE0Qg39kZm4az48o0AUbf6Sp4SLdvnuMa2sVNwHBboS7EJkm57XQPVU3/QpyNLHbWDdzwtrlS+ez30S3AdYhLKEOxAG8weOnyrtLJAUen9mTkol8oII1edf7mWWbWVf0nBmly21+nZcmCTISQBtdcyPaEno7fFQMDD26/s0lfKob4Kw8H
> > vs-ssh.visualstudio.com rsa-sha2-512 AAAAB3NzaC1yc2EAAAADAQABAAABAQC7Hr1oTWqNqOlzGJOfGJ4NakVyIzf1rXYd4d7wo6jBlkLvCA4odBlL0mDUyZ0/QUfTTqeu+tm22gOsv+VrVTMk6vwRU75gY/y9ut5Mb3bR5BV58dKXyq9A9UeB5Cakehn5Zgm6x1mKoVyf+FFn26iYqXJRgzIZZcZ5V6hrE0Qg39kZm4az48o0AUbf6Sp4SLdvnuMa2sVNwHBboS7EJkm57XQPVU3/QpyNLHbWDdzwtrlS+ez30S3AdYhLKEOxAG8weOnyrtLJAUen9mTkol8oII1edf7mWWbWVf0nBmly21+nZcmCTISQBtdcyPaEno7fFQMDD26/s0lfKob4Kw8H
> > ```
> > 
> > 
> >     
> >       
> >     
> > 
> >       
> >     
> > 
> >     
> >   
> > Hope this helps as a temporal workaround.
> 
> i tried here and working! i'll to follow this in the week and next week. Thanks for tip @AleksuKey

Based on https://github.com/golang/crypto/blob/0da2a6a1bbc8e689a335bea68b5cc0e3e8728854/ssh/knownhosts/knownhosts.go#L190, I really don't think the modified known hosts does anything at all!

@xenochor

There's also this:

> // KeyAlgoRSASHA256 and KeyAlgoRSASHA512 are only public key algorithms, not
// public key formats, so they can't appear as a PublicKey.Type. The
// corresponding PublicKey.Type is KeyAlgoRSA. See RFC 8332, Section 2.
KeyAlgoRSASHA256 = "rsa-sha2-256"
KeyAlgoRSASHA512 = "rsa-sha2-512"

So even if the key type from known hosts was used I don't think rsa-sha2 would be valid. 

Also hitting this and it gets pretty urgent. Who is working on this?

Possible implementations for a fix:

1. Set a sane list of hardcoded defaults for HostKeyAlgorithms as is already done for KexAlgorithms, this would probably follow the crypto/ssh defaults except ssh-rsa, ssh-dss (since they are considered insecure): https://pkg.go.dev/golang.org/x/crypto/ssh#pkg-constants
    1. This may break users that don't use official container images that are using a set of host key algorithms that are not in the default images, or not in the crypto/shh list of defaults, but should work for official images
1. Use ssh_config.DefaultUserSettings to read from ~/.ssh/config  so users can supply a list of HostKeyAlgorithms using a configmap: https://github.com/go-git/go-git/blob/1ddd78a55f803c9ed0fac6a56d201271fef21eeb/plumbing/transport/ssh/common.go#L26
    1. This requires user input for all affected users but seems to be doable
1. Use skeema/knownhosts in argocd/util/git/ssh but modify the HostKeyAlgorithms by removing ssh-rsa and adding rsa-sha2
    1. This method reads the allowed HostKeyAlgorithms from the known_hosts file. This works perfectly for ecdsa and the like but unfortunately this method as implemented by go-git simply does not work for rsa-sha2 because they key type for both ssh-rsa and rsa-sha2 is ssh-rsa , this can be read in https://pkg.go.dev/golang.org/x/crypto/ssh#pkg-constants 
        1. // CertAlgoRSASHA256v01 and CertAlgoRSASHA512v01 can't appear as a Certificate.Type (or PublicKey.Type), but only in ClientConfig.HostKeyAlgorithms.
    1. This method is already the method being used by go-git (which argocd relies on in this case), see: https://github.com/go-git/go-git/blob/1ddd78a55f803c9ed0fac6a56d201271fef21eeb/plumbing/transport/ssh/common.go#L140
        1. len(config.HostKeyAlgorithms) == 0 because the custom ClientConfig used by ArgoCD does not set the HostKeyAlgorithms, so the known_hosts file is used, which sets the allowed algorithm to ssh-rsa because that is they key type for both ssh-rsa and rsa-sha2



What helped us is to get into contact with the Microsoft support, mentioning this issue. This is a bad workaround and should be solved in ArgoCD/go-git, but as long as there's no workaround in place, the MS support is the only party that can help here.

@Gottox what were Microsoft able todo for you? Turn off the brown out?

Could you tell, is any of the above mentioned workarounds helped you (many of the answers seem to be verified outside of brownout period)? The brownout periods start to hit the our organization development teams more and more. Is there an action taken by the argo team ? 

> Could you tell, did any of the above mentioned workarounds helped you ? (many of the answers seem to be verified outside of brownout period). The brownout periods start to hit the our organization development teams more and more. Is there an action taken by the argo team ?

There are two workarounds:

1. Migrate from SSH to PAT
2. Disable TLS verify (insecure)

Shouldn't argocd update the golang lib?

We switched over to password authentication until there is a fix. Not ideal but at least Argo keeps working.

If you do this keep in mind you also need to update the repoURL in your Application resources that access Azure Repos, not just inside the Repo Secret.

@rouke-broersma If we wanted to disable TLS verify (for the short term, acceptable for our current usage). Is there a way to-do that declaratively? I only see reference to the argo cli... We create our repo credential using the `repo-creds` secret type declaratively and not via the cli. I'm not finding anything that suggests I can do it that way?

Hey folks, I think this change needs to be done on the user side. 

According to [Microsoft's blog post](https://devblogs.microsoft.com/devops/ssh-rsa-deprecation/), section "Phase I: User Opt-in", people will have to generate new private/public key pairs and update both, Azure configuration and Argo CD repository config with this new key.

Have you tried generating a new key pair, with a supported algorithm?


> What helped us is to get into contact with the Microsoft support, mentioning this issue. This is a bad workaround and should be solved in ArgoCD/go-git, but as long as there's no workaround in place, the MS support is the only party that can help here.

Do you mind posting what you told them and the sev levels and stuff 
for them to help so quickly?

> Hey folks, I think this change needs to be done on the user side.
> 
> According to [Microsoft's blog post](https://devblogs.microsoft.com/devops/ssh-rsa-deprecation/), section "Phase I: User Opt-in", people will have to generate new private/public key pairs and update both, Azure configuration and Argo CD repository config with this new key.
> 
> Have you tried generating a new key pair, with a supported algorithm?

@jannfis Yes we've taken all the required steps, reading this thread through I believe that is the consensus that even though people have correctly generated a new sha2 512 key and deployed to argo and deployed the public to Azure DevOps the brownouts are still impacting. I think the assumption is the handshake is defaulting to rsa-ssh because its on offer? (I might be wrong)

> > Hey folks, I think this change needs to be done on the user side.
> > According to [Microsoft's blog post](https://devblogs.microsoft.com/devops/ssh-rsa-deprecation/), section "Phase I: User Opt-in", people will have to generate new private/public key pairs and update both, Azure configuration and Argo CD repository config with this new key.
> > Have you tried generating a new key pair, with a supported algorithm?
> 
> @jannfis Yes we've taken all the required steps, reading this thread through I believe that is the consensus that even though people have correctly generated a new sha2 512 key and deployed to argo and deployed the public to Azure DevOps the brownouts are still impacting. I think the assumption is the handshake is defaulting to rsa-ssh because its on offer? (I might be wrong)

yes even after new sha2 512  generated keys the issue remains 

> @rouke-broersma If we wanted to disable TLS verify (for the short term, acceptable for our current usage). Is there a way to-do that declaratively? I only see reference to the argo cli... We create our repo credential using the `repo-creds` secret type declaratively and not via the cli. I'm not finding anything that suggests I can do it that way?

@danijam It seems you can do this by setting insecure flag to `true` in a Secret with annotation `argocd.argoproj.io/secret-type: repository`

I guess the URL defined in this Secret should match the one you defined in your Secret with annotation `argocd.argoproj.io/secret-type: repo-creds` (which is more a template repository credentials that you can use everywhere)

See https://argo-cd.readthedocs.io/en/stable/operator-manual/argocd-repositories-yaml/#argocd-repositoriesyaml-example

@danijam You can simple create a secret, one for every repository as below in addition to repo-creds. 

Here is the document for same 
https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#repositories

```
kubectl create secret generic -n ${ARGOCD_NAMESPACE} ${SECRET_NAME} \
    --from-literal=type=git \
    --from-literal=url=${REPOSITORY_URL} \
    --from-literal=insecure=true

kubectl label secret ${SECRET_NAME} -n ${ARGOCD_NAMESPACE} "argocd.argoproj.io/secret-type=repository"
```

> Hey folks, I think this change needs to be done on the user side.
> 
> According to [Microsoft's blog post](https://devblogs.microsoft.com/devops/ssh-rsa-deprecation/), section "Phase I: User Opt-in", people will have to generate new private/public key pairs and update both, Azure configuration and Argo CD repository config with this new key.
> 
> Have you tried generating a new key pair, with a supported algorithm?

Here is my best attempt to explain why that wouldn't matter.

ssh-rsa256 or 512 is supported by Microsoft Azure DevOps, none of the other ones like ecdsa. It seems that the above thread points out that that version of rsa is not working or currently supported by Argo or the go library at some level(requiring a change to the underlying go libraries and/or Argo itself). Updating the token won't actually work during brownouts or blackouts as I believe it is not being sent to Azure DevOps with the right signatures, and Azure DevOps seems to only support the exact ones that ArgoCD does not as far as SSH Tokens. We updated our tokens to 512 back on April 8th and due to the sporadic nature of the brownouts  we never got an inkling that it wasn't working until the brownouts happened to be during working hours for 1 hour intervals. We found 1 single notification with the brownout error that should have been happening since April 8th. So the new brownout period of 1 hour intervals 12 times a day made us very aware the 512 (even 256) rsa tokens do not actually work.

For others wondering about if you still  have Argo pulling repos using this ssh url extension **vs-ssh.visualstudio.com:v3** rather than the new **ssh.dev.azure.com:v3**, don't dive too far into that rabbit hole... We thought maybe that old url was being sunset behind the scenes also, so we actually modified some of our Argo components to use that endpoint as well as k8s service along with a new repo-cred and it worked until the brownout. So, if you stumble across the ssh url it doesn't seem to matter either, both urls work are subject to the same issue with the tokens.

> @danijam You can simple create a secret, one for every repository as below in addition to repo-creds.
> 
> Here is the document for same https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#repositories
> 
> ```
> kubectl create secret generic -n ${ARGOCD_NAMESPACE} ${SECRET_NAME} \
>     --from-literal=type=git \
>     --from-literal=url=${REPOSITORY_URL} \
>     --from-literal=insecure=true
> 
> kubectl label secret ${SECRET_NAME} -n ${ARGOCD_NAMESPACE} "argocd.argoproj.io/secret-type=repository"
> ```

I have  "argocd.argoproj.io/secret-type: repo-creds" label in argocd v2.10.6+d504d2b set and it works as well

> @danijam You can simple create a secret, one for every repository as below in addition to repo-creds.
> 
> Here is the document for same https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#repositories
> 
> ```
> kubectl create secret generic -n ${ARGOCD_NAMESPACE} ${SECRET_NAME} \
>     --from-literal=type=git \
>     --from-literal=url=${REPOSITORY_URL} \
>     --from-literal=insecure=true
> 
> kubectl label secret ${SECRET_NAME} -n ${ARGOCD_NAMESPACE} "argocd.argoproj.io/secret-type=repository"
> ```

Are you doing this for every single individual repo or for each Team Project base in Azure DevOps

Example: dev.azure.com/{azuredevopsinstance}/{teamproject} (highest level) or dev.azure.com/{azuredevopsinstance}/{teamproject}/{repo} (individual repo level for each secret)

> > @danijam You can simple create a secret, one for every repository as below in addition to repo-creds.
> > Here is the document for same https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#repositories
> > ```
> > kubectl create secret generic -n ${ARGOCD_NAMESPACE} ${SECRET_NAME} \
> >     --from-literal=type=git \
> >     --from-literal=url=${REPOSITORY_URL} \
> >     --from-literal=insecure=true
> > 
> > kubectl label secret ${SECRET_NAME} -n ${ARGOCD_NAMESPACE} "argocd.argoproj.io/secret-type=repository"
> > ```
> 
> Are you doing this for every single individual repo or for each Team Project base in Azure DevOps
> 
> Example: dev.azure.com/{azuredevopsinstance}/{teamproject} (highest level) or dev.azure.com/{azuredevopsinstance}/{teamproject}/{repo} (individual repo level for each secret)

you can set for both, but when you set url as git@ssh.dev.azure.com:v3/<ORG>/<PROJ>/
then argocd will have access to all repos inside the project


``> > On the ArgoCD 2.8.4 version rsa-sha2-256 is working, but the important thing to check - is in the k8s secret with sshPrivateKey for Azure DevOps if appropriately put the new lines, because when we put this private key in the Azure Key Vault as a secret then "-----END OPENSSH PRIVATE KEY-----" part was not in the new line but it was as a part of the key. After fixing this, ArgoCD can sync properly with Azure DevOps repos.
> 
> Hi, I'm using ArgoCD **v2.7.11**
> 
> Thanks to @bartoszpyrek I managed to get this working by :
> 
> * generating a new RSA key with rsa-sha2-512 algorithm :  `ssh-keygen -t rsa-sha2-512`
> * adding generated public key to my Azure DevOps profile
> 
> Public key is of form :
> 
> ```
> ssh-rsa AAAAB3NzaC1y..... user@host
> ```
> 
> * doing a simple test on ArgoCD Ui
> 
> ![image](https://private-user-images.githubusercontent.com/137395947/325670839-278eba40-4398-4f74-94d2-cc8c1f8bf9ed.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTQxNDA4ODUsIm5iZiI6MTcxNDE0MDU4NSwicGF0aCI6Ii8xMzczOTU5NDcvMzI1NjcwODM5LTI3OGViYTQwLTQzOTgtNGY3NC05NGQyLWNjOGMxZjhiZjllZC5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNDI2JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDQyNlQxNDA5NDVaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT0yMGZmZjdjYzllM2UzOGViNTkwZTBkYTM5YjM3ZjhiNDIwZmZmYTI2MGVhOTlhZDJkNTBkNWMzMWFhZTViNWM5JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.L4pFTistYIW4fSzjYlZZn2daO7jvr4rEWszrRgF_QxI)
> 
> > Note the new line in yellow after `-----END OPENSSH PRIVATE KEY-----`
> 
> This worked fine 👌 ![image](https://private-user-images.githubusercontent.com/137395947/325671469-a171b1c8-56d8-4810-8f70-19be01c80c07.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MTQxNDA4ODUsIm5iZiI6MTcxNDE0MDU4NSwicGF0aCI6Ii8xMzczOTU5NDcvMzI1NjcxNDY5LWExNzFiMWM4LTU2ZDgtNDgxMC04ZjcwLTE5YmUwMWM4MGMwNy5wbmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQwNDI2JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MDQyNlQxNDA5NDVaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1kNDcxODQxNTExZTc4M2QwNTYxZWJiYTA5NDRjNzM3NmQwMDA3MjNjNWNiOTcyZDNjOGQwNTY0NWZjZjg3YTU0JlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZhY3Rvcl9pZD0wJmtleV9pZD0wJnJlcG9faWQ9MCJ9.YxlP7HvL0geveZFNN15b5HQPmfWx_-AlU1rnH4iROeg)
> 
> Also, it seems there's no need to update know-hosts configuration, nor skip server verification
> 
> Finally, I updated my secret which contains my SSH private key with the new one, also **with the newline** at the end, and restarted `argocd-repo-server` pods
> 
> I manually deleted repositories which uses the old SSH key and let ArgoCD re-create them (ArgoCD manages itself its configuration, using App of App pattern)
> 
> Now everything is fine, let's see if this works during next days...
> 
> Good luck 🤞

I made the same but still getting the same error. The only difference - I use git repo binding via secret and template:
````
configs:
  credentialTemplates:
    azure-devops-creds:
      url: git@ssh.dev.azure.com:v3/XXXXXXXXX/XXXXXXXXXXX/
      sshPrivateKey: |
       ${privateSSHKey}%
````

What you mean by that: *I manually deleted repositories which uses the old SSH key and let ArgoCD re-create them (ArgoCD manages itself its configuration, using App of App pattern)*

Have you changed anything on azure devops side except the new ssh key upload?

> > > @danijam You can simple create a secret, one for every repository as below in addition to repo-creds.
> > > Here is the document for same https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#repositories
> > > ```
> > > kubectl create secret generic -n ${ARGOCD_NAMESPACE} ${SECRET_NAME} \
> > >     --from-literal=type=git \
> > >     --from-literal=url=${REPOSITORY_URL} \
> > >     --from-literal=insecure=true
> > > 
> > > kubectl label secret ${SECRET_NAME} -n ${ARGOCD_NAMESPACE} "argocd.argoproj.io/secret-type=repository"
> > > ```
> > 
> > 
> > Are you doing this for every single individual repo or for each Team Project base in Azure DevOps
> > Example: dev.azure.com/{azuredevopsinstance}/{teamproject} (highest level) or dev.azure.com/{azuredevopsinstance}/{teamproject}/{repo} (individual repo level for each secret)
> 
> you can set for both, but when you set url as **[git@ssh.dev.azure.com](mailto:git@ssh.dev.azure.com):v3/(ORG)/(PROJ)/** then argocd will have access to all repos inside the project

I tried, but this is not working for me. ArgoCD show "Connection Status" for the repository added with **[git@ssh.dev.azure.com](mailto:git@ssh.dev.azure.com):v3/(ORG)/(PROJ)/** format, as **failed** and I keep receiving errors in repo-server. If I add individual repository, it is working.


Works fine by me.
Are you sure that ssh key that you have added has access to all repos in your org/project?
Check security permissions in project properties for all repos which are accessed by that user whose ssh key you've added.

<img width="1262" alt="2" src="https://github.com/argoproj/argo-cd/assets/93654262/f694429b-cde3-4b21-a940-448e8bc3421c">


To me it seems that Microsoft should have disabled the unsupported rsa algorithm from the handshake also in brownout sessions. What I see, sha-rsa tends take priority than sha2 "ssh -Q sign" and the top priority algorithms are Ed/ecdsa" that are unsupported at Azure DevOps. It's Microsoft that should take an action I think.

> > > > @danijam You can simple create a secret, one for every repository as below in addition to repo-creds.
> > > > Here is the document for same https://argo-cd.readthedocs.io/en/stable/operator-manual/declarative-setup/#repositories
> > > > ```
> > > > kubectl create secret generic -n ${ARGOCD_NAMESPACE} ${SECRET_NAME} \
> > > >     --from-literal=type=git \
> > > >     --from-literal=url=${REPOSITORY_URL} \
> > > >     --from-literal=insecure=true
> > > > 
> > > > kubectl label secret ${SECRET_NAME} -n ${ARGOCD_NAMESPACE} "argocd.argoproj.io/secret-type=repository"
> > > > ```
> > > 
> > > 
> > > Are you doing this for every single individual repo or for each Team Project base in Azure DevOps
> > > Example: dev.azure.com/{azuredevopsinstance}/{teamproject} (highest level) or dev.azure.com/{azuredevopsinstance}/{teamproject}/{repo} (individual repo level for each secret)
> > 
> > 
> > you can set for both, but when you set url as **[git@ssh.dev.azure.com](mailto:git@ssh.dev.azure.com):v3/(ORG)/(PROJ)/** then argocd will have access to all repos inside the project
> 
> I tried, but this is not working for me. ArgoCD show "Connection Status" for the repository added with **[git@ssh.dev.azure.com](mailto:git@ssh.dev.azure.com):v3/(ORG)/(PROJ)/** format, as **failed** and I keep receiving errors in repo-server. If I add individual repository, it is working.

Insecure is not applicable to repository credential template, only for repository credentials:

![image](https://github.com/argoproj/argo-cd/assets/3595932/5621f3fe-67e4-4a7f-b688-7e69214f2c5e)

You will have to create a repository with the exact url to be able to set the Insecure flag for that repo.

Yeah that's a pain for us as we don't create repository argo resources we just have a big repo cred template to cover the auth for all our repos. I've opened a support ticket with Microsoft to see if there is anything they can do...

@danijam, we searched for existing ArgoCD applications in the clusters to find potential Azure DevOps SSH URLs, and inserted a secret for all corresponding repo URLs. This process can be automated with a basic bash script. However, I acknowledge that if the target repositories are subject to frequent changes, this solution may not be feasible.

Furthermore, we remain optimistic for a more robust resolution from ArgoCD regarding this issue.

> To me it seems that Microsoft should have disabled the unsupported rsa algorithm from the handshake also in brownout sessions. What I see, sha-rsa tends take priority than sha2 "ssh -Q sign" and the top priority algorithms are Ed/ecdsa" that are unsupported at Azure DevOps. It's Microsoft that should take an action I think.

Can we get this confirmed? I see a lot of noise in this thread so.

If this is the case there is just no issue (except the brownout period)

> > To me it seems that Microsoft should have disabled the unsupported rsa algorithm from the handshake also in brownout sessions. What I see, sha-rsa tends take priority than sha2 "ssh -Q sign" and the top priority algorithms are Ed/ecdsa" that are unsupported at Azure DevOps. It's Microsoft that should take an action I think.
> 
> Can we get this confirmed? I see a lot of noise in this thread so.
> 
> If this is the case there is just no issue (except the brownout period)

The brownouts are going to start lasting 8 hours, it's an issue regardless. And there's no confirmation whatsoever that Microsoft won't just keep replying on rsa-ssh with an error after the change. 

@rouke-broersma agree but it would be strange if they would since they don't support it anymore.

I really would like to have some fix for this in ArgoCD sooner than later. It breaks deployments worldwide without a feasible workaround in place. 

During a brownout, Here is what server offered: [diffie-hellman-group1-sha1 diffie-hellman-group14-sha1 diffie-hellman-group-exchange-sha256]

so, yeah - the server is offering the sha1 algorithm 

I built a local argo cd removing this 1 line
https://github.com/argoproj/argo-cd/blob/575575a78a87c7fc97ce540124509f90c5733e05/util/git/ssh.go#L21
containing the algorithm "diffie-hellman-group14-sha1" - my repo server now appears happy with Azure Devops again. 

> I built a local argo cd removing this 1 line
> 
> https://github.com/argoproj/argo-cd/blob/575575a78a87c7fc97ce540124509f90c5733e05/util/git/ssh.go#L21
> 
> containing the algorithm "diffie-hellman-group14-sha1" - my repo server now appears happy with Azure Devops again. 

Instead of building, raise a PR if this is a solid solution? The reason why MS pulls out this algorithm is that it is deprecated (no longer safe).

So if this is the case it seems legit to just remove support completely or am i missing something?

> > I built a local argo cd removing this 1 line
> > https://github.com/argoproj/argo-cd/blob/575575a78a87c7fc97ce540124509f90c5733e05/util/git/ssh.go#L21
> > 
> > containing the algorithm "diffie-hellman-group14-sha1" - my repo server now appears happy with Azure Devops again.
> 
> Instead of building, raise a PR if this is a solid solution? The reason why MS pulls out this algorithm is that it is deprecated (no longer safe).
> 
> So if this is the case it seems legit to just remove support completely or am i missing something?

By removing it, it would mean that Argo CD no longer supports the sha1 alogrithm. This might be a hard breaking change for some. 

The main problem is, during the handshake with Microsoft Azure Devops, they send back a list of accepted algorithms, in that list, it says SHA1 is accepted, so argo sends a SHA1 formatted message. Azure devops then turns around and says "I dont accept sha1"...

The proper fix is for Microsoft to send through the correct set of accepted algorithms. 
In the interim, I can forsee 2 fixes
1. have a switch to disable ssh1 for git
2. investigate how the git client chooses which algorithm to use when it is given multiple and should it prefer some algorithms over others? 






> I built a local argo cd removing this 1 line
> 
> https://github.com/argoproj/argo-cd/blob/575575a78a87c7fc97ce540124509f90c5733e05/util/git/ssh.go#L21
> 
> 
> containing the algorithm "diffie-hellman-group14-sha1" - my repo server now appears happy with Azure Devops again.

Did you manage to test it during the brownout ? From what I see, the default list is being overriden when parameter with algorithms is being passed, and that's what I see at Procfile: "sshd: mkdir -p /var/run/sshd && mkdir -p ~/.ssh && cat ./test/fixture/testrepos/id_rsa.pub > ~/.ssh/authorized_keys && /usr/sbin/sshd -p 2222 -D -e -o KexAlgorithms=diffie-hellman-group-exchange-sha256" 

The issue is ssh-rsa host key algoritm, not (or maybe also?) dfh-sha1 key exchange. This is already proven by Flux where the fix is disabling the ssh-rsa host key algorithm. 

Just fould workaround that works for me https://developercommunity.visualstudio.com/t/Support-non-RSA-keys-for-SSH-authenticat/365980#T-N10445094

I do fear I may have been too hasty with my solution. While, for some reason it removed the error previously, it may have been coincidental. I am doing further research into the issue. 

> id you manage to test it during the brownout

I know that feel bro 🤣 

@crenshaw-dev 

> My understanding is that this isn't an issue with golang's crypto library. Rather it has to do with the hash algorithms ssh accepts in Ubuntu 22.04 (the version Argo CD images are built on).
> 
> It looks like Ubuntu 22.04 does _support_ the listed algorithms (based on [this guide](https://superuser.com/a/1734092)), but maybe neither algorithm is enabled by default in the handshake. You might have to explicitly enable that host key algorithm.

As far as we can tell the issue is not with the native client but rather with the go-git bits. Can we get any guidance on implementing a fix? We have some proposals here:

https://github.com/argoproj/argo-cd/issues/17634#issuecomment-2077647842



@rouke-broersma I wrote a PR that implements the workaround: https://github.com/argoproj/argo-cd/pull/18007

In out stack, we use Argo CD to manage Argo CD. When I implemented the fix, Argo CD was failing with the main error, so I could not bump the version. I had to log onto k8s and manually bump the repo server version, after which, stuff appeared to work. I do however see today, that this appears to have been purely coincidental.  I am continuing to try and resolve this, however today the brownouts appeared to be even more inconsistent with some fetches working and others not. 

How do I reproduce the command that ArgoCD fires at Azure DevOps? Is `git-upload-pack` easily executed from the commandline?

I tried to reproduce a git operation that uses the ssh-rsa signature but I failed. It keeps defaulting to rsa-sha2-512. 

```pwsh
$env:GIT_SSH_COMMAND="ssh -vvv -i keyfile -o IdentitiesOnly=yes"
git pull
```

results in a verbose ssh log:
```
...
debug3: order_hostkeyalgs: prefer hostkeyalgs: rsa-sha2-512-cert-v01@openssh.com,rsa-sha2-256-cert-v01@openssh.com,rsa-sha2-512,rsa-sha2-256,ssh-rsa
...
debug2: host key algorithms: ssh-rsa,rsa-sha2-256,rsa-sha2-512
...
debug1: kex: algorithm: diffie-hellman-group-exchange-sha256
debug1: kex: host key algorithm: rsa-sha2-512
debug1: kex: server->client cipher: aes128-ctr MAC: hmac-sha2-256 compression: none
debug1: kex: client->server cipher: aes128-ctr MAC: hmac-sha2-256 compression: none
...
```

Additionally I can confirm that any RSA key works irrespective of the `-t` parameter. The key generated with `    ssh-keygen -t ssh-rsa -f ssh-rsa-keyfile` also just works. At least assuming th brown out is active 😅 

@rouke-broersma thanks! I was able to reproduce the brown out with the following in `~/.ssh/config`:

```
Host ssh.dev.azure.com vs-ssh.visualstudio.com
  HostKeyAlgorithms ssh-rsa
```

I have multiple Argo CD clusters, on 1 cluster I am running some small changes, that 1 appears to not be experiencing brownouts while the other clusters are experiencing brownouts. 

The difference is the go-get version. I ran
go get -u github.com/go-git/go-git/v5 which bumped the module up to v5.12.0 

Will need to see whats in that change and deploy my fix to all environments to confirm... 

> So this is a no-go. So the only fix, I think, would be to modify
> 
> https://github.com/argoproj/argo-cd/blob/0f11dfb5961361807962aafc68b11426b8a47490/util/git/ssh.go#L54
> to either have a hardcoded list of supported algorithms or to read the supported algorithms from `~/.ssh/config`.

@rouke-broersma IMO I think initializing `SupportedSSHKeyExchangeAlgorithms` from an environment variable would be the way to go. The default would be the same as today. Perhaps it could also be worthwhile having a new configmap to set the environment variable from.

Ok, I believe I have traced down the root cause... 
By bumping the go-git, it also bumped https://github.com/skeema/knownhosts to version 1.2.2 
this version contains the changes for the new algorithms: https://github.com/skeema/knownhosts/commit/bd8e67ecaa664984a8af209daa256b8aab3454a5


> Ok, I believe I have traced down the root cause... 
> 
> By bumping the go-git, it also bumped https://github.com/skeema/knownhosts to version 1.2.2 
> 
> this version contains the changes for the new algorithms: https://github.com/skeema/knownhosts/commit/bd8e67ecaa664984a8af209daa256b8aab3454a5
> 
> 

Seems solid. It would break old implementations though but i assume that is ok since ssh-rsa is deprecated and dropped to start with.

But only the ArgoCD maintainers can decide this if it not hits a BC or if they allow it and so on

> > So this is a no-go. So the only fix, I think, would be to modify
> > https://github.com/argoproj/argo-cd/blob/0f11dfb5961361807962aafc68b11426b8a47490/util/git/ssh.go#L54
> > 
> > to either have a hardcoded list of supported algorithms or to read the supported algorithms from `~/.ssh/config`.
> 
> @rouke-broersma IMO I think initializing `SupportedSSHKeyExchangeAlgorithms` from an environment variable would be the way to go. The default would be the same as today. Perhaps it could also be worthwhile having a new configmap to set the environment variable from.

The issue with that is that the nativeclient which is used for 90% of argocd git interaction would read from `~/.ssh/config` so you would need to add the config to both locations. Ideally both clients would read from the same source, so this difference between the two clients is removed.

Thanks @zamedic - I've merged your PR. 

Before cherry-picking this change into supported release branches and putting out a fix release, can somebody confirm that this actually fixes the issue? For example, by running an image that's been built off the latest code (once the image has been built)? I do not have access to an Azure DevOps Git repository, unfortunately.

Anyone inclined to test a build off the master branch with the fix included, the image is `ghcr.io/argoproj/argo-cd/argocd:2.11.0-a63068d0`

> Anyone inclined to test a build off the master branch with the fix included, the image is `ghcr.io/argoproj/argo-cd/argocd:2.11.0-a63068d0`

We're preparing our dev environment for testing this change

is this image also available as a helm chart? i could test it but my clusters have argo via helm chart installed

> is this image also available as a helm chart? i could test it but my clusters have argo via helm chart installed

You can overwrite the image in the helm chart: https://github.com/argoproj/argo-helm/blob/main/charts/argo-cd/values.yaml#L56

@jannfis I can confirm the fix addresses the issue for my reproduction case.

I built the image from the PR branch, and was able to test it just before the most recent brown out ended. I had 2 separate namespace-scoped Argo CD instances targeting the same private Azure repo: 
- one Argo CD instance based on v2.10 which was consistently failing w/ this error
- one Argo CD instance based on @zamedic's PR branch, which was consistently passing

So presuming the brown out period is shared between them (no reason to think otherwise), I can no longer reproduce.

> > Anyone inclined to test a build off the master branch with the fix included, the image is `ghcr.io/argoproj/argo-cd/argocd:2.11.0-a63068d0`
> 
> We're preparing our dev environment for testing this change.
> 
> Unfortunately there is no brownout at the moment, so we will have to wait until Microsoft randomly turns on the brownout somewhere within the next 20 minutes to 2 hours.

The brownout is active... and we are no longer impacted 🎉

We're looking forward to the next Argo release!

Thanks for testing, folks. I'll cut releases today.

We are waiting on a brownout to test in our dev environment (2.10.9) then move forward to qa and prod... I'll post an update as soon as I know if it works!

We appreciate the hard work!

> We appreciate the hard work!

All credits actually go to the people in this thread discussing their observations and potential causes, @zamedic who finally found the root cause and contributed a fix, and all those fine folks who tested it.

The Argo community is just awesome :heart: 

> We are waiting on a brownout to test in our dev environment (2.10.9) then move forward to qa and prod... I'll post an update as soon as I know if it works!
> 
> We appreciate the hard work!

I wanted to follow up here in case anyone is in the same boat but we had an argo instance or 2 that did not experience anymore brownouts today after ~1 pm EST and were on 2.10.1. A schedule of these brownouts would have been nice but we decided to push the 2.10.9 forward to those environments, and assuming everything reported is correct we won't see any more brownouts anyways. 
 

That's amazing, GG !

Any chance to get this fix applied to previous releases ? 
Currently I'm using `Argocd v2.7` which is impacted by the brownout
Upgrading ArgoCD to more recent version is planned but not immediately actually.. 

Thanks for this 🙏 

> That's amazing, GG !
> 
> Any chance to get this fix applied to previous releases ? Currently I'm using `Argocd v2.7` which is impacted by the brownout Upgrading ArgoCD to more recent version is planned but not immediately actually..
> 
> Thanks for this 🙏

You're running an EOL version of ArgoCD and will not receive this patch, you should change your upgrade processes to reflect this: https://argo-cd.readthedocs.io/en/stable/developer-guide/release-process-and-cadence/#patch-releases-eg-25x

> > That's amazing, GG !
> > Any chance to get this fix applied to previous releases ? Currently I'm using `Argocd v2.7` which is impacted by the brownout Upgrading ArgoCD to more recent version is planned but not immediately actually..
> > Thanks for this 🙏
> 
> You're running an EOL version of ArgoCD and will not receive this patch, you should change your upgrade processes to reflect this: https://argo-cd.readthedocs.io/en/stable/developer-guide/release-process-and-cadence/#patch-releases-eg-25x

Thx, I should've check that 👍 

Since I've not heard from folks still affected after upgrading, I'm going to close this issue for now.

If anybody running 2.10.9, 2.9.14 or 2.8.18 (and higher) still encounter RSA-related issues with Azure DevOps, feel free to ping on this issue to have it re-opened.

I had version 2.1.5 installed and couldn't resolve the issue despite following the recommendations provided here. Eventually, I upgraded to version 2.9.0, but not before performing a backup and restore. For now, the problem has been resolved

I had version v2.1.5 installed and couldn't resolve the issue despite following the recommendations provided here. Eventually, I upgraded to version v2.9.0+9cf0c69, but not before performing a backup and restore. For now, the problem has been resolved.