OIDC - Unsupported ed448/x448 keys in go-jose library

Checklist:

- [x] I've searched in the docs and FAQ for my answer: https://bit.ly/argocd-faq.
- [x] I've included steps to reproduce the bug.
- [x] I've pasted the output of `argocd version`.

**Describe the bug**

Both ArgoCD's native OIDC client and DEX will reject a response from the jwks_uri that has "Content-Type: application/jwk-set+json" in the headers. According to the spec this is a valid content type https://datatracker.ietf.org/doc/html/rfc7517.

Unfortunately the provider is an internal implementation. This similar to https://github.com/boylesoftware/tomcat-oidcauth/issues/19

**To Reproduce**

Working installation of argocd v3.4.2. Configure OIDC with a provider that sends "Content-Type: application/jwk-set+json" for the jwks_uri.

OIDC config:
```
configs:
  cm:
    oidc.config: |
      name: "Internal IdP"
      issuer: <issuer_url>
      clientID: <client_id>
      clientSecret: $argocd-idp:clientSecret
      enablePKCEAuthentication: true
      requestedScopes:
        - openid
        - email
```

**Expected behavior**

User is logged in.

**Actual result**
Browser gives a "failed to verify token".

Dex has a similar behaviour.

**Version**

```shell
argocd version
argocd: v3.4.2
  BuildDate: 2026-05-12T20:34:57Z
  GitCommit: 0dc6b1b57dd5bb925d5b03c3d09419ab9fb4225e
  GitTreeState: clean
  GitTag: v3.4.2
  GoVersion: go1.26.0
  Compiler: gc
  Platform: linux/amd64
{"level":"fatal","msg":"Argo CD server address unspecified","time":"2026-06-10T13:59:06Z"}
```

**Logs**

```
Logs:
```
time="2026-06-10T14:05:27Z" level=warning msg="Failed to verify oidc token: failed to verify provider token: token verification failed for all audiences: error for aud \"redacted\": failed to verify signature: fetching keys oidc: failed to decode keys: expected Content-Type = application/json, got \"application/jwk-set+json; charset=UTF-8\": go-jose/go-jose: unsupported key type/format [...]
```
```


After some more digging it might be the message is misleading and this might be related to unsupported ed448/x448 keys and fixable in go-jose (https://github.com/go-jose/go-jose/issues/25)

@alexandrud, thank you for reporting this!

> After some more digging it might be the message is misleading and this might be related to unsupported ed448/x448 keys and fixable in go-jose (https://github.com/go-jose/go-jose/issues/25)

I think you're right, according to the log content type seems to be not related and the culprit is kty.

It's not in the log (probably redacted out), but if you do know it's ed448, which is unsupported in go-jose (probably because the algorithm is not in the golang's standard library), then this is the root cause of the problem.

Unfortunately, it seems that there is no easy way to fix it in Argo CD:

I found that there is an open source library for ed448 (https://pkg.go.dev/github.com/cloudflare/circl/sign/ed448), but plugging it into go-jose in ArgoCD looks like a rather non-trivial change since we are not calling go-jose directly, but via go-oidc. 

I think that a better idea would be to try to get ed448 support into go-jose:
it's a much more straightforward task and this would benefit all the ecosystem, not just Argo CD.



@alexandrud 
Since we know that the problem is not with the content type, please could you change the issue title accordingly?

Ed448 support is not needed. go-oidc parses the key set with its own struct, so the go-jose skip for unsupported keys (go-jose/go-jose#130) never runs, and go-oidc's "alg" skip does not trigger on keys without an "alg" member. The first Ed448/X448 key fails the whole set. RFC 7517 section 5 says to ignore such keys.

Fix in go-oidc: coreos/go-oidc#498, coreos/go-oidc#499.